@import '~semantic-ui-css/semantic.css';

.pagina-simple {
  display: flex!important;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .inicio-sesion {
    width: 400px;
  }

  .registro-usuario {
    width: 600px;
  }
}