@import '~semantic-ui-css/semantic.css';

.pagina-simple {
  display: flex!important;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .inicio-sesion {
    width: 400px;
  }

  .registro-usuario {
    width: 600px;
  }
}

.menu-principal {
  margin-top: 30px;
}

.action-link {
  display: inline-block;
  margin-left: 10px;
}

main {
  margin-top: 30px;
}